@media (max-width: 1200px) {
  .blog-page {
    &__content {
      margin-right: 30px;
    }
  }
}

@media (max-width: 1160px) {
  .blog-page {
    &__inner {
      flex-direction: column;
    }
    &__content {
      margin-right: 0px;
      width: 100%;
    }
    &__item-imgbox {
      width: 100%;
    }
    &__item-img {
      max-width: 100%;
      width: 100%;
    }
    &__item-box {
      padding: 0 20px;
    }
    &__aside {
      order: -1;
      width: 100%;
    }
    .search {
      &__form {
        width: 100%;
      }
      &__input {
        width: 100%;
      }
    }
  }
  .recent-posts,
  .filter-category {
    display: none;
  }
}
@media (max-width: 990px) {
  .blog-page {
    padding: 70px 0;
    &__item-box-title {
      line-height: 36px;
    }
  }
}
@media (max-width: 650px) {
  .blog-page {
    &__item-img {
      height: 300px;
    }
  }
  .contact {
    &__form {
      width: 100%;
    }
    &__form-box {
      display: block;
      input {
        width: 100%;
        margin-bottom: 10px;
      }
    }
  }
}
@media (max-width: 548px) {
  .blog-page {
    &__item-box-title {
      line-height: 36px;
      margin-bottom: 30px;
    }
    .blog-page__parination {
      padding-top: 50px;
    }
  }
}
@media (max-width:400px) {
  .blog-page {
    &__item-link-box {
      height: 50px;
    }
    &__item-box-title {
      font-size: 24px;
      line-height: 32px;
    }
  }
}