$grey: #a3bbc8;
$title:#243f4d;

%rubik-400 {
  font-family: 'Rubik-Regular';
  font-weight: 400;
}
%rubik-500 {
  font-family: 'Rubik-Medium';
  font-weight: 500;
}
%rubik-700 {
  font-family: 'Rubik-Bold';
  font-weight: 700;
}
%poppins-700 {
  font-family: 'Poppins-Bold';
  font-weight: 700;
}
%dmsan-400 {
  font-family: 'DMSans-Regular';
  font-weight: 400;
}
%dmsan-500 {
  font-family: 'DMSans-Medium';
  font-weight: 500;
}
%dmsan-700 {
  font-family: 'DMSans-Bold';
  font-weight: 700;
}
%footer-fotn-style {
  line-height: 32px;
  font-size: 14px;
  @extend %rubik-400;
  display: block;
  color: #7b7b7b;
}
