@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
  padding: 50px 0;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.menu {
  &__list{
    display: flex;
    align-items: center;
  }
  &__list-item + .menu__list-item {
    padding-left: 40px;;
  }
  &__list-link {
    @extend %rubik-500;
    font-size: 15px;
    line-height: 12px;
    color: #436372;
    position: relative;
    &:hover {
        &::after {
          position: absolute;
          content: '+';
          top: 2px;
          transform: translateX(5px);
        }
      }
  }

  &__list-link--active {
    position: relative;
    &::after {
      position: absolute;
      content: '+';
      top: 2px;
      transform: translateX(5px);
    }
  }
}

.user-nav {
  display: flex;
  align-items: center;
  gap: 0 20px;
  &__link {
    background-color: #edf1f4;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    position: relative;
    &::before {
      background-image: url('../images/icon/search.svg');
      content: '';
      position: absolute;
      width: 15px;
      height: 15px;
      top: 50%;
      left: 50%;
      width: 15px;
      height: 15px;
      transform: translate(-50%, -50%);
    }
  }
  &__box {
    width: 180px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fcd7b6;
    border-radius: 25px;
    position: relative;
      &::before {
        position: absolute;
        content: '';
        width: 1px;
        height: 30px;
        background-color: #fff;
        top: 10px;
      }
    }
    &__box-link {
      position: relative;
    }

    &__box-num {
      position: absolute;
      width: 20px;
      height: 20px;
      background-color: #fff;
      border-radius: 50%;
      text-align: center;
      top: -12px;
      right: -12px;
      line-height: 21px;
      font-size: 10px;
      color: #243f4d;
      @extend %dmsan-400;
    }
  }

  .footer-top {
    padding: 80px 0;
    display: flex;
    /* justify-content: space-between; */
    border-bottom: 1px solid #dae4e9;
    &__contact {
      width: 200px;
      margin-right: 100px;
    }
    &__service {
      width: 170px;
      margin-right: 130px;
    }
    &__account {
      width: 100px;
      margin-right: 200px;
    }
    &__item-form {
      max-width: 270px
    }
    &__logo {
      margin-bottom: 30px;
      display: block;
    }
    &__adress {
      line-height: 24px;
    }
    &__adress,
    &__phone,
    &__email {
      @extend %footer-fotn-style;
      margin-bottom: 10px;
    }
    &__title {
      padding-top: 20px;
      margin-bottom: 30px;
      @extend %dmsan-700;
      font-size: 16px;
      line-height: 1;
      text-transform: uppercase;
    }
    &__link {
      @extend %footer-fotn-style;
    }
    &__text {
      @extend %footer-fotn-style;
      line-height: 24px;
    }
    &__form {
      display: flex;
    }
    &__form-input {
      background-color: #fef7f0;
      max-width: 170px;
      width: 100%;
      border: none;
      padding: 15px;
      &::placeholder {
        @extend %dmsan-400;
        color: #234969;
        font-size: 12px;
        line-height: 1;
      }
    }
    &__form-btn {
      background-color: $grey;
      color: #fff;
      border: none;
      padding: 15px 20px;
      @extend %dmsan-400;
      font-size: 14px;
      line-height: 21px;
    }
  }
  .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    &__copy {
      @extend %footer-fotn-style;
    }
    &__nav-list {
      display: flex;
    }
    &__nav-item + .footer-bottom__nav-item {
      padding-left: 30px;
      position: relative;
      &::before {
        position: absolute;
        content: '';
        width: 1px;
        height: 20px;
        background-color: #7b7b7b;
        top: 5px;
        left: 15px;
      }
    }
     &__nav-link {
      @extend %footer-fotn-style;
    }
  }


  .top-slider {
    &__inner{
      background-color: #fcd7b6;
      padding: 90px 0;
    }
    &__item{
      display: flex !important;
      justify-content: center;
      align-items: center;
    }
    &__title {
      max-width: 470px;
      font-size: 70px;
      line-height: 70px;
      @extend %rubik-500;
      color: #243f4d;
      margin-bottom: 50px;
    }
    &__text {
      max-width: 370px;
      font-size: 18px;
      color: #436372;
      @extend %rubik-400;
      margin-bottom: 85px;
    }
 
    &__link {
      display: inline-block;
      background-color: $grey;
      @extend %rubik-500;
      color: #ffffff;
      padding: 20px 100px 20px 30px;
      position: relative;
      &::after {
        background-image: url('../images/icon/white-arrow.svg');
        content: '';
        position: absolute;
        width: 22px;
        height: 9px;
        top: 50%;
        right: 18px;
        transform: translateY(-50%);
      }
    }
    .slick-dots {
      display: flex;
      justify-content: center;
      li {
          padding: 0 10px;
          line-height: 10px;
          button {
            background-color: #fde3cc;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            @extend %rubik-500;
            font-size: 11px;
          }
          &.slick-active {
            button {
              background-color: #fff;
            }
          }

      }
    }
    &__service {
      background-color: #fef7f0;
      display: flex;
      justify-content: space-around;
      padding: 45px 0;
    }
    &__service-item {
      position: relative;
      max-width: 300px;
      &--support {
        padding-left: 80px;
        width: 285px;
      }
      &--delivery {
        padding-left: 80px;
      }
      &--payment {
        padding-left: 90px;
      }
      &--support::before,
      &--delivery::before,
      &--payment::before {
        position: absolute;
        content: '';
        top: 15px;
        left: 0px;
      }
      &--support::before {
        background-image: url('../images/icon/support.svg');
        width: 51px;
        height: 53px;
      }
      &--delivery::before {
        background-image: url('../images/icon/delivery.svg');
        width: 54px;
        height: 36px;
      }
      &--payment::before {
        background-image: url('../images/icon/payment.svg');
        width: 54px;
        height: 52px;
      }
  }

    &__service-title {
      font-size: 18px;
      line-height: 40px;
      @extend %dmsan-700;
      color: #414141;
    }
    &__service-text {
      color: #585858;
      @extend %dmsan-500;
    }
  }

/*products-week start*/

.products-week {
  padding: 70px 0 85px;
  &__title {
    margin-bottom: 35px;
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px 30px;
  }
}
.product-filter {
  text-align: center;
  margin-bottom: 80px;
  &__btn {
    @extend %dmsan-700;
      font-size: 18px;
      color: #8b8b8b;
    
      &.product-filter__btn--active {
        color: #000;
      }
    
      &:hover {
        color: #000;
      }
  }
}

.product-item {
    max-width: 270px;
    text-align: center;
    height: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
  &__img-box {
    position: relative;
    margin-top: auto;
    width: 100%;
    overflow: hidden;
  }
  &__link-box {
    position: absolute;
    bottom: 13px;
    left: 0;
    right: 0;
    width: 170px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    transform: translateY(300%);
    transition: all .3s;
    }
  &__link {
    background-color: #fff;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    &:hover {
      background-color: $grey;
      path {
        fill: #fff;
      }
    }
  }
  &__images {
    object-fit: cover;
    margin: 0 auto;
  }
  &__title {
    margin-top: auto;
    @extend %dmsan-500;
    line-height: 40px;
    color: #243f4d;
  }
  &__price {
    padding-bottom: 40px;
    @extend %dmsan-700;
    line-height: 40px;
    color: $grey;
  }
  &:hover {
    .product-item__link-box {
      transform: translateY(0);
    }
  }
}
/*products-week end*/

/*luminaire start*/
  
.luminaire {
  padding-top: 100px;
  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px; 
    
  }
}
.luminaire-item {
  background-color: #feefe2;
  display: flex;
  justify-content: end;
  align-items: center;
  text-align: left;
  height: 390px;
  padding-right: 145px;
  position: relative;

  &__left::before,
  &__right::before {
    position: absolute;
    content: '';
    bottom: 85px;
    left: 130px;
  }
  &__left::before {
    background-image: url('../images/luminaire/luminaire-1.png');
    width: 230px;
    height: 405px; 
  }
  &__right::before {
    background-image: url('../images/luminaire/luminaire-2.png');
    width: 222px;
    height: 399px;
  }
  &__text-box {
    width: 340px;
  }
  &__title {
    font-size: 26px;
    line-height: 32px;
    @extend %dmsan-700;
    color: #243f4d;
    margin-bottom: 25px;
  }
  &__text{
    color: #243f4d;
    @extend %rubik-400;
    margin-bottom: 30px;
  }
  &__link {
    @extend %rubik-500;
    color: #436372;
    font-size: 15px;
    line-height: 12px;
    border: 1px solid #4f6c79;
    border-radius: 10px;
    padding: 20px 85px 20px 20px;
    position: relative;
    &::after {
        background-image: url('../images/icon/dark-arrow.svg');
        content: '';
        position: absolute;
        width: 22px;
        height: 9px;
        top: 50%;
        right: 18px;
        transform: translateY(-50%);
      }
  }
}
/*luminaire end*/

/* desing strart */
.desing {
  padding-top: 100px;
  &__title {
    margin-bottom: 35px;
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px 35px;
  }
  &__item {
    background-repeat: no-repeat;
    background-position: center right;
    padding-left: 30px;
    padding-top: 40px;
    height: 250px;
  }
  &__item-link {
    display: block;
    color: #1a1a1a;
    @extend %dmsan-700;
    font-size: 20px;
    line-height: auto;
    max-width: 175px;
    margin-bottom: 20px;
  }
  &__item-subtitle {
    color: #a9bfcb;
    @extend %dmsan-700;
    display: inline-block;
  }
}

.video-view {
  padding-top: 120px;
  &__popup {
    max-width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items:center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

  }
}
/* video desing end */
.partners {
  &__list {
    display: flex;
    justify-content: space-between;
    align-items:center;
  }
}

.articles {
  padding-top: 115px;
  padding-bottom: 90px;
  background-image: url('../images/artcles-bg.jpg');
  background-repeat: no-repeat;
  background-position: center bottom;
  &__inner {
    margin-bottom: 88px;
  }
  &__top-title-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 45px;
  }
  &__title-link {
    display: inline-block;
    position: relative;
    @extend %dmsan-700;
    font-size: 16px;
    line-height: 1;
    padding-right: 15px;
    color:#243f4d;
    &::after {
      background-image: url('../images/icon/shape-right.svg');
      position: absolute;
      content: '';
      width: 6px;
      height: 11px;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
    }
  }
  &__items {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    width: 370px;
  }
  &__item-imglink {
    display: block;
    img {
      height: 250px;
      object-fit: cover;
    }
  }
  &__item-box {
    padding: 30px 30px 25px 30px;
    position: relative;
    background-color: #fff;
  }
  &__item-new {
    position: absolute;
    top: -15px;
    width: 102px;
    height: 30px;
    text-align: center;
    border-radius: 25px;
    @extend %dmsan-700;
    font-size: 14px;
    line-height: 20px;
    background-color: $grey;
    color: #fff;
    padding: 5px 13px;
  }
  &__item-link{
    color: #262626;
    font-size: 18px;
    line-height: 1;
    @extend %dmsan-500;
    padding-bottom: 15px;
    display: block;
  }
  &__item-info {
    padding-top: 20px;
    border-top: 1px solid #e0e0e0;
    display: flex;
  }
  &__item-author {
    padding-right: 30px;
  }
  &__item-date,
  &__item-author {
    font-size: 12px;
    line-height: 30px;
    color: #5d6269;
    @extend %rubik-400;
    position: relative;
    padding-left: 30px;
    text-transform: uppercase;
    &::before {
      position: absolute;
      content:'';
      bottom: 10px;
      left: 0;
      width: 20px;
      height: 20px;
    }
  }
  &__item-date::before {
    background-image: url('../images/icon/time.svg');
  }
  &__item-author::before {
    background-image: url('../images/icon/user-gray.svg');
  }
}

/* top section */

.top {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 30px 0;
  text-align: center;
  &__title {
    text-align: center;
    @extend %rubik-400;
    font-size: 36px;
    line-height: 24px;
    color: #222933;
    margin-bottom: 10px;
  }
}
.partners-bottom {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 83px 0;
}


/* login section */
.modal {
  padding-top: 120px;
  max-width: 475px;
  margin: 0 auto 120px;
  &__label {
    display: block;
    color:#436372;
    @extend %rubik-400;
    font-size: 14px;
    line-height: 48px;
    margin-bottom: 30px;
  }
  &__input {
    display: block;
    width: 100%;
    border: 1px solid #f6f6f6;
    margin-top: 4px;
    height: 60px;
    color: #fff;
    padding: 0 15px;
  }
  &__btn-login,
  &__btn-accoutn {
    display: block;
    @extend %rubik-500;
    font-size: 18px;
    line-height: normal;
    padding: 20px 0;
    width: 100%;
    cursor: pointer;
  }
  &__btn-login {
    background-color: $grey;
    color: #fffefe;
  }
  &__btn-accoutn {
    background-color: #fff;
    border: 1px solid $grey;
    color: #506571;
  }
  &__box {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
    border-bottom: 1px solid #f6f6f6;
  }
  &__problem {
    display: inline-block;
    @extend %rubik-500;
    font-size: 14px;
    line-height: 48px;
    color: #436372;
  }
  &__noproblem {
    text-align: center;
    line-height: 24px;
    font-size: 14px;
    @extend %rubik-500;
    color: #436372;
    margin-bottom: 20px;
  }
}

/* term start */

.term {
  padding-top: 115px;
  &__title {
    @extend %rubik-500;
    font-size: 24px;
    line-height: 40px;
    margin-bottom: 30px;
    color: #243f4d;
  }
  &__item {
    margin-bottom: 75px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  &__text {
    @extend %rubik-400;
    color: #243f4d;
  }
}
.types {
  &__item-text {
    @extend %rubik-400;
    color: #243f4d;
  }
  &__list {
    counter-reset: list-numbers;
    list-style-type: none;
  }
  &__list-item {
    position: relative;
    padding-left: 30px;
    margin-bottom: 30px;
    &::before {
      counter-increment: list-numbers;
      content: '0' counter(list-numbers);
      position: absolute;
      left: 0;
      top: 0;

      text-align: left;
      @extend %rubik-400;
      color: #243f4d;
    }
    &:nth-child(n+10)::before {
      content: counter(list-numbers);
    }
  }
}

@import 'media';