@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
  padding: 50px 0;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.menu {
  &__list{
    display: flex;
    align-items: center;
  }
  &__list-item + .menu__list-item {
    padding-left: 40px;;
  }
  &__list-link {
    @extend %rubik-500;
    font-size: 15px;
    line-height: 12px;
    color: #436372;
    position: relative;
    &:hover {
        &::after {
          position: absolute;
          content: '+';
          top: 2px;
          transform: translateX(5px);
        }
      }
  }

  &__list-link--active {
    position: relative;
    &::after {
      position: absolute;
      content: '+';
      top: 2px;
      transform: translateX(5px);
    }
  }
}

.user-nav {
  display: flex;
  align-items: center;
  gap: 0 20px;
  &__link {
    background-color: #edf1f4;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    position: relative;
    &::before {
      background-image: url('../images/icon/search.svg');
      content: '';
      position: absolute;
      width: 15px;
      height: 15px;
      top: 50%;
      left: 50%;
      width: 15px;
      height: 15px;
      transform: translate(-50%, -50%);
    }
  }
  &__box {
    width: 180px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fcd7b6;
    border-radius: 25px;
    position: relative;
      &::before {
        position: absolute;
        content: '';
        width: 1px;
        height: 30px;
        background-color: #fff;
        top: 10px;
      }
    }
    &__box-link {
      position: relative;
    }

    &__box-num {
      position: absolute;
      width: 20px;
      height: 20px;
      background-color: #fff;
      border-radius: 50%;
      text-align: center;
      top: -12px;
      right: -12px;
      line-height: 21px;
      font-size: 10px;
      color: #243f4d;
      @extend %dmsan-400;
    }
  }

  .footer-top {
    padding: 80px 0;
    display: flex;
    /* justify-content: space-between; */
    border-bottom: 1px solid #dae4e9;
    &__contact {
      width: 200px;
      margin-right: 100px;
    }
    &__service {
      width: 170px;
      margin-right: 130px;
    }
    &__account {
      width: 100px;
      margin-right: 200px;
    }
    &__item-form {
      max-width: 270px
    }
    &__logo {
      margin-bottom: 30px;
      display: block;
    }
    &__adress {
      line-height: 24px;
    }
    &__adress,
    &__phone,
    &__email {
      @extend %footer-fotn-style;
      margin-bottom: 10px;
    }
    &__title {
      padding-top: 20px;
      margin-bottom: 30px;
      @extend %dmsan-700;
      font-size: 16px;
      line-height: 1;
      text-transform: uppercase;
    }
    &__link {
      @extend %footer-fotn-style;
    }
    &__text {
      @extend %footer-fotn-style;
      line-height: 24px;
    }
    &__form-input {
      background-color: #fef7f0;
      max-width: 170px;
      width: 100%;
      border: none;
      padding: 15px;
      &::placeholder {
        @extend %dmsan-400;
        color: #234969;
        font-size: 12px;
        line-height: 1;
      }
    }
    &__form-btn {
      background-color: $grey;
      color: #fff;
      border: none;
      padding: 15px 20px;
      @extend %dmsan-400;
      font-size: 14px;
      line-height: 21px;
    }
  }
  .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    &__copy {
      @extend %footer-fotn-style;
    }
    &__nav-list {
      display: flex;
    }
    &__nav-item + .footer-bottom__nav-item {
      padding-left: 30px;
      position: relative;
      &::before {
        position: absolute;
        content: '';
        width: 1px;
        height: 20px;
        background-color: #7b7b7b;
        top: 5px;
        left: 15px;
      }
    }
     &__nav-link {
      @extend %footer-fotn-style;
    }
  }


  .top-slider {
    &__inner{
      background-color: #fcd7b6;
      padding: 90px 0;
    }
    &__item{
      display: flex !important;
      justify-content: center;
      align-items: center;
    }
    &__title {
      max-width: 470px;
      font-size: 70px;
      line-height: 70px;
      @extend %rubik-500;
      color: #243f4d;
      margin-bottom: 50px;
    }
    &__text {
      max-width: 370px;
      font-size: 18px;
      color: #436372;
      @extend %rubik-400;
      margin-bottom: 85px;
    }
 
    &__link {
      display: inline-block;
      background-color: $grey;
      @extend %rubik-500;
      color: #ffffff;
      padding: 20px 100px 20px 30px;
      position: relative;
      &::after {
        background-image: url('../images/icon/white-arrow.svg');
        content: '';
        position: absolute;
        width: 22px;
        height: 9px;
        top: 50%;
        right: 18px;
        transform: translateY(-50%);
      }
    }
    .slick-dots {
      display: flex;
      justify-content: center;
      li {
          padding: 0 10px;
          line-height: 10px;
          button {
            background-color: #fde3cc;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            @extend %rubik-500;
            font-size: 11px;
          }
          &.slick-active {
            button {
              background-color: #fff;
            }
          }

      }
    }
    &__service {
      background-color: #fef7f0;
      display: flex;
      justify-content: space-around;
      padding: 45px 0;
    }
    &__service-item {
      position: relative;
      max-width: 300px;
      &--support {
        padding-left: 80px;
        width: 285px;
      }
      &--delivery {
        padding-left: 80px;
      }
      &--payment {
        padding-left: 90px;
      }
      &--support::before,
      &--delivery::before,
      &--payment::before {
        position: absolute;
        content: '';
        top: 15px;
        left: 0px;
      }
      &--support::before {
        background-image: url('../images/icon/support.svg');
        width: 51px;
        height: 53px;
      }
      &--delivery::before {
        background-image: url('../images/icon/delivery.svg');
        width: 54px;
        height: 36px;
      }
      &--payment::before {
        background-image: url('../images/icon/payment.svg');
        width: 54px;
        height: 52px;
      }
  }

    &__service-title {
      font-size: 18px;
      line-height: 40px;
      @extend %dmsan-700;
      color: #414141;
    }
    &__service-text {
      color: #585858;
      @extend %dmsan-500;
    }
  }

@import 'media';