<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/about.min.css">
  <link rel="stylesheet" href="css/styles.min.css">
</head>
<body>
{%include 'app/module/_header/_header.html' %}
  <main class="main">
{%include 'app/module/_about/_about-top.html' %}

    <section class="experience">
      <div class="container-m">
        <div class="experience__inner">
          <div class="experience__content">
            <div class="experience__list-box">
              <h2 class="experience__list-title">12</h2>
              <div class="experience__list">
                <div class="experience__item">Years</div>
                <div class="experience__item">Experience</div>
                <div class="experience__item">Working</div>
              </div>
            </div>
            <h2 class="experience__title title">Mission of our creative house</h2>
            <p class="experience__text">
              consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
              veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum
            </p>
            <div class="experience__nubmers">
              <div class="experience__nubmers-item experience__nubmers-item-line projects">
                <h5 class="experience__nubmers-item-title">520+</h5>
                <p class="experience__nubmers-item-text">Projects</p>
              </div>
              <div class="experience__nubmers-item experience__nubmers-item-line revenu">
                <h5 class="experience__nubmers-item-title">$4M</h5>
                <p class="experience__nubmers-item-text">Revenue</p>
              </div>
              <div class="experience__nubmers-item awards">
                <h5 class="experience__nubmers-item-title">250</h5>
                <p class="experience__nubmers-item-text">Awards</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="service" style="background-image: url('images/service-bg.svg');">
      <div class="container-m">
        <ul class="service__list">
          <li class="service__item">
            <img class="service__item-img" src="images/icon/rate.svg" alt="">
            <h5 class="service__item-title title">
              99%
            </h5>
            <p class="service__item-text">
              Satisﬁed Clients Rate
            </p>
          </li>
          <li class="service__item">
            <img class="service__item-img" src="images/icon/delivered.svg" alt="">
            <h5 class="service__item-title title">
              5020+
            </h5>
            <p class="service__item-text">
              Products Delivered
            </p>
          </li>
          <li class="service__item">
            <img class="service__item-img" src="images/icon/workingtime.svg" alt="">
            <h5 class="service__item-title title">
              23hr
            </h5>
            <p class="service__item-text">
              Daily Working Time
            </p>
          </li>
          <li class="service__item">
            <img class="service__item-img" src="images/icon/brands.svg" alt="">
            <h5 class="service__item-title title">
              140+
            </h5>
            <p class="service__item-text">
              Brands in Store
            </p>
          </li>
        </ul>
      </div>
    </div>
    <section class="team">
      <div class="container-m">
        <div class="team__inner">
          <div class="team__aside">
            <h3 class="team__aside-title title">Our Team</h3>
            <p class="team__aside-text">
              Lorem ipsum dolor sit amet, conse ctetur adipi sicing elit, sed do eiusmod tempor inciLorem ipsum dolor sit amet,
              consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
              veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
            </p>
            <a class="team__aside-link" href="#">Join With US</a>
          </div>
          <div class="team__cards">
            <div class="team__card">
              <img class="team__card-img" src="images/content/team/eliza.jpg" alt="">
              <div class="team__card-box">
                <div class="team__card-text-box">
                  <h6 class="team__card-name">Eliza Elliot</h6>
                  <p class="team__card-text">Commodo tempor</p>
                </div>
                <div class="team__card-link-box">
                  <a class="team__card-link" href="#">
                    <img src="images/icon/instagram-icon.svg" alt="">
                  </a>
                  <a class="team__card-link" href="#">
                    <img src="images/icon/google-icon.svg" alt="">
                  </a>
                </div>
              </div>
            </div>
            <div class="team__card">
              <img class="team__card-img" src="images/content/team/roscoe.jpg" alt="">
              <div class="team__card-box">
                <div class="team__card-text-box">
                  <h6 class="team__card-name">Roscoe A.</h6>
                  <p class="team__card-text">Commodo tempor</p>
                </div>
                <div class="team__card-link-box">
                  <a class="team__card-link" href="#">
                    <img src="images/icon/instagram-icon.svg" alt="">
                  </a>
                  <a class="team__card-link" href="#">
                    <img src="images/icon/google-icon.svg" alt="">
                  </a>
                </div>
              </div>
            </div>
            <div class="team__card">
              <img class="team__card-img" src="images/content/team/rube.jpg" alt="">
              <div class="team__card-box">
                <div class="team__card-text-box">
                  <h6 class="team__card-name">Ruby M.</h6>
                  <p class="team__card-text">Commodo tempor</p>
                </div>
                <div class="team__card-link-box">
                  <a class="team__card-link" href="#">
                    <img src="images/icon/instagram-icon.svg" alt="">
                  </a>
                  <a class="team__card-link" href="#">
                    <img src="images/icon/google-icon.svg" alt="">
                  </a>
                </div>
              </div>
            </div>
            <div class="team__card">
              <img class="team__card-img" src="images/content/team/marie.jpg" alt="">
              <div class="team__card-box">
                <div class="team__card-text-box">
                  <h6 class="team__card-name">Marie F. Bloss</h6>
                  <p class="team__card-text">Commodo tempor</p>
                </div>
                <div class="team__card-link-box">
                  <a class="team__card-link" href="#">
                    <img src="images/icon/instagram-icon.svg" alt="">
                  </a>
                  <a class="team__card-link" href="#">
                    <img src="images/icon/google-icon.svg" alt="">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {%include 'app/module/_articles/_articles.html' %}
{#     <section class="articles">
      <div class="container-m">
        <div class="articles__inner">
          <div class="articles__top-title-box">
            <h2 class="articles__title title">Our Insights & Articles</h2>
            <a class="articles__title-link" href="#">View All</a>
          </div>
    
          <div class="articles__items">
            <div class="articles__item">
              <a class="articles__item-imglink" href="#">
                <img src="images/articles/1.jpg" alt="articles images">
              </a>
              <div class="articles__item-box">
                <div class="articles__item-new">new</div>
                <a class="articles__item-link" href="#">
                  Diusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                </a>
                <div class="articles__item-info">
                  <div class="articles__item-author">By Admin</div>
                  <div class="articles__item-date">28 JANUARY, 2020</div>
                </div>
              </div>
            </div>
            <div class="articles__item">
              <a class="articles__item-imglink" href="#">
                <img src="images/articles/2.jpg" alt="articles images">
              </a>
              <div class="articles__item-box">
                <div class="articles__item-new">new</div>
                <a class="articles__item-link" href="#">
                  Diusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                </a>
                <div class="articles__item-info">
                  <div class="articles__item-author">By Admin</div>
                  <div class="articles__item-date">28 JANUARY, 2020</div>
                </div>
              </div>
            </div>
            <div class="articles__item">
              <a class="articles__item-imglink" href="#">
                <img src="images/articles/3.jpg" alt="articles images">
              </a>
              <div class="articles__item-box">
                <div class="articles__item-new">new</div>
                <a class="articles__item-link" href="#">
                  Diusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                </a>
                <div class="articles__item-info">
                  <div class="articles__item-author">By Admin</div>
                  <div class="articles__item-date">28 JANUARY, 2020</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="partners">
          <ul class="partners__list">
            <li class="partners__item">
              <img src="images/partners/1.png" alt="partners image" class="partners__img">
            </li>
            <li class="partners__item">
              <img src="images/partners/2.png" alt="partners image" class="partners__img">
            </li>
            <li class="partners__item">
              <img src="images/partners/3.png" alt="partners image" class="partners__img">
            </li>
            <li class="partners__item">
              <img src="images/partners/4.png" alt="partners image" class="partners__img">
            </li>
            <li class="partners__item">
              <img src="images/partners/5.png" alt="partners image" class="partners__img">
            </li>
          </ul>
        </div>
      </div>
    </section> #}
  </main>
{%include 'app/module/_footer/_footer.html' %}
  <script src="js/main.min.js"></script>
</body>
</html>