.blog-one {
  &__item {
    margin-bottom: 60px;
  }

  &__text {

    h4 {
      @extend %rubik-400;
      color: #333333;
      font-size: 34px;
      line-height: 26px;
      margin: 30px 0px;
    }

    h6 {
      @extend %rubik-500;
      font-size: 16px;
      line-height: 30px;
      color: $title;
    }

    p {
      margin: 20px 0;
      @extend %rubik-400;
      color: #61637b;

      &:first-of-type {
        color: $title;
      }
    }

    blockquote {
      background-color: #edf1f4;
      border-left: 5px solid $grey;
      padding: 20px 90px 20px 30px;
      color: $title;
      @extend %rubik-400;
      margin: 45px 0;

      p {
        margin: 20px 0 0 0;
        padding-left: 40px;
        position: relative;

        &::before {
          position: absolute;
          content: '';
          background-color: $grey;
          top: 50%;
          transform: translateY(-50%);
          left: 0;
          width: 20px;
          height: 4px;
        }
      }
    }

    img {
      float: left;
      margin-right: 30px;
      margin-bottom: 10px;
    }

    h5 {
      @extend %rubik-500;
      font-size: 18px;
      line-height: 30px;
      color: $title;
      padding-top: 25px;
    }
  }

  &__form {
    margin-top: 70px;
    width: 100%;

    input,
    textarea {
      border: 1px solid #e5e5e5;
      background-color: #ffffff;

      &::placeholder {
        text-transform: none;
      }

      &:focus-visible {
        border: 1px solid $grey;
      }

      &:focus {
        outline: none;
      }
    }

    input {
      width: 400px;
    }
  }

  &__box {
    padding: 25px 20px 25px 0;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
  }

  &__author {
    display: flex;
  }

  &__author-img {
    width: 76px;
    height: 76px;
    object-fit: cover;
    margin-right: 30px;
  }

  &__author-info {
    padding: 15px 0;
  }

  &__author-name {
    @extend %rubik-500;
    font-size: 18px;
    line-height: 25px;
    color: #333333;
  }

  &__author-text {
    @extend %rubik-400;
    color: #707070;
  }

  &__box-tags,
  &__box-social {
    span {
      color: #5c5c5c;
      @extend %rubik-400;
      line-height: 26px;
      font-size: 16px;
    }
  }

  &__box-tags-link {
    color: #a7a7a7;
    @extend %rubik-400;
    line-height: 26px;
    font-size: 16px;
    margin-left: 30px;
  }

  &__box-social {
    a {
      margin-left: 20px;

      path {
        fill: #a1a1a1;
      }

      &:hover {
        path {
          fill: $grey;
        }
      }
    }
  }

  &__form-title {
    @extend %rubik-700;
    font-size: 24px;
    line-height: 30px;
    color: $title;
    margin-bottom: 50px;
  }
}
@media (max-width:650px) {
  .blog-one {
    .blog-one__form {
      width: 100%;
      .blog-one__form-box {
        display: block;
      }
      .blog-one__form-input {
        width: 100%;
        margin-bottom: 10px;
      }
    }
  }
}
@media (max-width:548px) {
  .blog-one {
    &__text {
      h4 {
        line-height: 36px;
      }
      blockquote {
        padding: 20px 20px 20px 30px;
      }
      img {
        width: 100%;
        margin-right: 0;
        float: none;
      }
    }
    &__box {
      display: block;
      padding: 25px 0;
      margin-bottom: 40px;
    }
  }
}
@media (max-width:380px) {
  .blog-one {
    &__text {
      h4 {
        font-size: 28px;
      }
    }
    &__author-img {
      display: none;
    }
    .blog-one__form {
      margin-top: 40px;
    }
  }
}