.pagination {
  display: flex;
  justify-content: center;

  .pagination__list {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-right: 15px;
  }

  &__link {
    padding: 20px;
    border: 1px solid $grey;
    @extend %rubik-400;
    color: $title;
    font-size: 16px;
    line-height: 30px;

    &:hover {
      background-color: $grey;
      color: #fff;
    }
  }

  &__link--active {
    background-color: $grey;
    color: #fff;
  }

  &__next {
    padding: 14px 20px;
    border: 1px solid $grey;
    @extend %rubik-400;
    color: $title;

    &:hover {
      background-color: $grey;
      color: #fff;
    }
  }
}