  .footer-top {
    padding: 80px 0;
    display: flex;
    /* justify-content: space-between; */
    border-bottom: 1px solid #dae4e9;

    &__contact {
      width: 200px;
      margin-right: 100px;
    }

    &__service {
      width: 170px;
      margin-right: 130px;
    }

    &__account {
      width: 100px;
      margin-right: 200px;
    }

    &__item-form {
      max-width: 270px
    }

    &__logo {
      margin-bottom: 30px;
      display: block;
    }

    &__adress {
      line-height: 24px;
    }

    &__adress,
    &__phone,
    &__email {
      @extend %footer-fotn-style;
      margin-bottom: 10px;
    }

    &__title {
      padding-top: 20px;
      margin-bottom: 30px;
      @extend %dmsan-700;
      font-size: 16px;
      line-height: 1;
      text-transform: uppercase;
    }

    &__link {
      @extend %footer-fotn-style;
    }

    &__text {
      @extend %footer-fotn-style;
      line-height: 24px;
    }

    &__form {
      display: flex;
    }

    &__form-input {
      background-color: #fef7f0;
      max-width: 170px;
      width: 100%;
      border: none;
      padding: 15px;

      &::placeholder {
        @extend %dmsan-400;
        color: #234969;
        font-size: 12px;
        line-height: 1;
      }
    }

    &__form-btn {
      background-color: $grey;
      color: #fff;
      border: none;
      padding: 15px 20px;
      @extend %dmsan-400;
      font-size: 14px;
      line-height: 21px;
    }
  }

  .footer-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    min-height: 90px;

    &__copy {
      @extend %footer-fotn-style;
    }

    &__nav-list {
      display: flex;
    }

    &__nav-item+.footer-bottom__nav-item {
      padding-left: 30px;
      position: relative;

      &::before {
        position: absolute;
        content: '';
        width: 1px;
        height: 20px;
        background-color: #7b7b7b;
        top: 5px;
        left: 15px;
      }
    }

    &__nav-link {
      @extend %footer-fotn-style;
    }
  }

  @media (max-width: 1160px) {
    .footer-top {
      flex-wrap: wrap;
    &__item-form {
      max-width: 100%;
      margin-top: 30px;
    }
    }
  }
  @media (max-width: 930px) {
    .footer-top {
      padding: 50px 0;
      &__item-form{
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
      }
      &__service {
        margin-right: 50px;
      }
      &__account {
        margin-right: 0;
      }
    }
  }

  @media (max-width: 650px) {
    .footer-top {
      &__contact {
        width: 100%;
        margin-right: 0;
      }
    }
  }
  @media (max-width: 600px) {
    .footer-bottom {
      justify-content: center;
      &__copy {
        width: 100%;
        text-align: center;
      }
    }
  }
  @media (max-width: 400px) {
    .footer-top{
      &__form {
        margin-top: 20px;
        width: 100%;
        flex-wrap: wrap;
      }
      &__form-input {
        max-width: 100%;
        margin-bottom: 5px;
      }
      &__form-btn {
        width: 100%;
      }
    }
  }