.top-slider {
  &__inner {
    background-color: #fcd7b6;
    padding: 90px 0;
  }

  &__item {
    display: flex !important;
    justify-content: center;
    align-items: center;
  }

  &__title {
    max-width: 470px;
    font-size: 70px;
    line-height: 70px;
    @extend %rubik-500;
    color: #243f4d;
    margin-bottom: 50px;
  }

  &__text {
    max-width: 370px;
    font-size: 18px;
    color: #436372;
    @extend %rubik-400;
    margin-bottom: 85px;
  }

  &__link {
    display: inline-block;
    background-color: $grey;
    @extend %rubik-500;
    color: #ffffff;
    padding: 20px 100px 20px 30px;
    position: relative;

    &::after {
      background-image: url('../images/icon/white-arrow.svg');
      content: '';
      position: absolute;
      width: 22px;
      height: 9px;
      top: 50%;
      right: 18px;
      transform: translateY(-50%);
    }
  }

  .slick-dots {
    display: flex;
    justify-content: center;

    li {
      padding: 0 10px;
      line-height: 10px;

      button {
        background-color: #fde3cc;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        @extend %rubik-500;
        font-size: 11px;
      }

      &.slick-active {
        button {
          background-color: #fff;
        }
      }

    }
  }

  &__service {
    background-color: #fef7f0;
    display: flex;
    justify-content: space-around;
    padding: 45px 0;
  }

  &__service-item {
    position: relative;
    max-width: 300px;

    &--support {
      padding-left: 80px;
      width: 285px;
    }

    &--delivery {
      padding-left: 80px;
    }

    &--payment {
      padding-left: 90px;
    }

    &--support::before,
    &--delivery::before,
    &--payment::before {
      position: absolute;
      content: '';
      top: 15px;
      left: 0px;
    }

    &--support::before {
      background-image: url('../images/icon/support.svg');
      width: 51px;
      height: 53px;
    }

    &--delivery::before {
      background-image: url('../images/icon/delivery.svg');
      width: 54px;
      height: 36px;
    }

    &--payment::before {
      background-image: url('../images/icon/payment.svg');
      width: 54px;
      height: 52px;
    }
  }

  &__service-title {
    font-size: 18px;
    line-height: 40px;
    @extend %dmsan-700;
    color: #414141;
  }

  &__service-text {
    color: #585858;
    @extend %dmsan-500;
  }
}

/*products-week start*/

.products {
  padding: 70px 0 85px;

  &__title {
    margin-bottom: 35px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px 30px;
  }
}

.product-filter {
  text-align: center;
  margin-bottom: 80px;

  &__btn {
    @extend %dmsan-700;
    font-size: 18px;
    color: #8b8b8b;

    &.product-filter__btn--active {
      color: #000;
    }

    &:hover {
      color: #000;
    }
  }
}
.product-item-mix {
  max-width: 270px;
  text-align: center;
  height: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);

  &__img-box {
    position: relative;
    margin-top: auto;
    max-width: 270px;
    overflow: hidden;
  }

  &__link-box {
    position: absolute;
    bottom: 13px;
    left: 0;
    right: 0;
    width: 170px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    transform: translateY(300%);
    transition: all .3s;
  }

  &__link {
    background-color: #fff;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: $grey;

      path {
        fill: #fff;
      }
    }
  }

  &__images {
    margin: 0 auto;
  }

  &__title {
    margin-top: auto;
    @extend %dmsan-500;
    line-height: 40px;
    color: #243f4d;
  }

  &__price {
    padding-bottom: 40px;
    @extend %dmsan-700;
    line-height: 40px;
    color: $grey;
  }

  &:hover {
    .product-item-mix__link-box {
      transform: translateY(0);
    }
  }
}

/*products-week end*/

/*luminaire start*/

.luminaire {
  padding-top: 100px;

  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

  }
}

.luminaire-item {
  background-color: #feefe2;
  display: flex;
  justify-content: end;
  align-items: center;
  text-align: left;
  height: 390px;
  padding-right: 145px;
  position: relative;
  img {
    position: absolute;
    left: 130px;
    bottom: 85px;
  }
/*   &__left::before,
  &__right::before {
    position: absolute;
    content: '';
    bottom: 85px;
    left: 130px;
  }

  &__left::before {
    background-image: url('../images/luminaire/luminaire-1.png');
    width: 230px;
    height: 405px;
  }

  &__right::before {
    background-image: url('../images/luminaire/luminaire-2.png');
    width: 222px;
    height: 399px;
  } */

  &__text-box {
    width: 340px;
  }

  &__title {
    font-size: 26px;
    line-height: 32px;
    @extend %dmsan-700;
    color: #243f4d;
    margin-bottom: 25px;
  }

  &__text {
    color: #243f4d;
    @extend %rubik-400;
    margin-bottom: 30px;
  }

  &__link {
    @extend %rubik-500;
    color: #436372;
    font-size: 15px;
    line-height: 12px;
    border: 1px solid #4f6c79;
    border-radius: 10px;
    padding: 20px 85px 20px 20px;
    position: relative;

    &::after {
      background-image: url('../images/icon/dark-arrow.svg');
      content: '';
      position: absolute;
      width: 22px;
      height: 9px;
      top: 50%;
      right: 18px;
      transform: translateY(-50%);
    }
  }
}

/*luminaire end*/

/* desing strart */
.desing {
  padding-top: 100px;

  &__title {
    margin-bottom: 35px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px 35px;
  }

  &__item {
    background-repeat: no-repeat;
    background-position: center right;
    padding-left: 30px;
    padding-top: 40px;
    height: 250px;
    max-width: 370px;
    width: 100%;
  }

  &__item-link {
    display: block;
    color: #1a1a1a;
    @extend %dmsan-700;
    font-size: 20px;
    line-height: auto;
    max-width: 175px;
    margin-bottom: 20px;
  }

  &__item-subtitle {
    color: #a9bfcb;
    @extend %dmsan-700;
    display: inline-block;
  }
}

.video-view {
  padding-top: 120px;

  &__popup {
    max-width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

  }
}

@media (max-width: 1750px) {
  .luminaire-item {
    padding-right: 30px;
    img {
      left: 20px;
    }
  }
}

@media (max-width: 1300px) {
  .top-slider {
    &__title {
      margin-bottom: 30px;
    }
    &__text {
      margin-bottom: 65px;
    }
    &__img {
      width: 40%;
    }
  }
  .luminaire__items {
    grid-template-columns: repeat(1, 1fr);
    gap: 130px;
  }
  .luminaire-item {
    padding-right: 145px;

    img {
      left: 130px;
    }
  }
  .video-view {
    padding-top: 60px;
  }
}
@media (max-width: 1160px) {
  .top-slider {
    &__inner {
      padding: 50px 0;
    }
    &__item {
      margin-bottom: 30px;
    }
    &__title {
      font-size: 64px;
      line-height: 57px;
    }
  }

  .products {
    &__items {
      gap: 30px 20px;
     }
    }
    .product-item-mix {
      &__images {
        width: 90%;
       }
      }
    .desing {
      &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
    }
  }

@media (max-width: 990px) {
  .top-slider {
    &__item {
      .top-slider__img {
        display: none;
      }
    }
    &__text {
      margin-bottom: 30px;
    }
    &__service {
      display: block;
      padding: 30px 20px;
    }
    &__service-item {
      width: 100%;
      & + .top-slider__service-item {
        margin-top: 30px;
      }
      &--payment {
        padding-left: 80px;
      }
    }
  }
  .products {
    &__items {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  .product-item-mix {
    width: 100%;
  }
  .video-view {
    &__popup {
      height: 250px;
      background-size: cover;
    }
  }
}
@media (max-width: 860px) {
  .luminaire-item {
    padding-right: 20px;

    img {
      left: 30px;
    }
  }
}

@media (max-width: 650px) {
    .luminaire__items {
      gap: 30px;
    }
    .luminaire-item {
      display: flex;
      justify-content: space-between;
      padding: 10px;
      img {
        width: 30%;
        position: static;
      }
    }
}

@media (max-width: 548px) {
  .top-slider {
    &__content {
      padding: 0 20px;
    }
    &__title {
        font-size: 48px;
        line-height: 48px;
        margin-bottom: 25px;
      }
      &__text {
        margin-bottom: 25px;
      }
  }
  .products {
    &__title {
      font-size: 34px;
    }
  }
  .luminaire-item {
    &__text-box {
      width: 270px;
    }
  }
  .desing {
    &__title {
      font-size: 32px;
    }
  }
  .video-view {
    &__popup {
      height: 175px;
    }
    &__link {
      display: inline-flex;
      justify-content: center;
      img {
        width: 80%;
      }
    }
  }
}

@media (max-width: 480px) {
    .luminaire {
      padding-top: 0;
    }
    .luminaire-item {
      justify-content: center;
      padding-right: 0;

      img {
        display: none;
      }
    }
}

@media (max-width: 400px) {
  .top-slider {
    &__title {
      font-size: 40px;
      line-height: 42px;
    }
    &__text {
      font-size: 14px;
      line-height: 24px;
    }
    &__service-title {
      line-height: 24px;
    }
  }
  .product-filter {
    margin-bottom: 60px;
    &__btn {
      font-size: 16px;
      line-height: normal;
      padding: 0 5px;
    }
  }
  .products {
    &__title {
      font-size: 25px;
      margin-bottom: 25px;
    }
    &__items {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  .desing {
    &__title {
      font-size: 25px;
      margin-bottom: 25px;
    }
  } 
  .video-view {
    &__popup {
      height: 150px;
    }
    &__link {
      img {
        width: 60%;
      }
    }
  }
}
@media (max-width: 380px) {
  .desing{
    &__item {
      padding-left: 10px;
      padding-top: 10px;
    }
    &__item-link {
      max-width: 100%;
      font-size: 18px;
      margin-bottom: 0;
    }
  }
}